body {
    margin: 0;
    padding: 0;

}
.header {
    background: url(images/logo_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;    
    
    
}

.header_logo {
    display: flex;
    align-items: center;
    /* border-right: 5px solid #eee; */
    justify-content: space-between;
    margin: 0 166px;
}

.a_nav {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-right: 20px;
    transition: color 0.3s linear;
}

.a_nav:hover{
    color: red;

}

.cart {
    height: 30px;
}



nav{
    display: flex;
    /* margin-right: 50px; */
    align-items: center;
}

.phone  {
    /* display: flex; */
}

.phone_logo {
    display: flex;
}

.num {
    font-size: 20px;
    color: #eee;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.3s linear;
}

.num:hover {
    color: red;
}

.phone_text {
    color: #eee;
    text-decoration: none;
    font-size: 14px;
}

.v_line{
    height: 50px;
    width: 3px;
    background-color: #eee;
    /* margin: 0 30px; */
}

.btn {
    width: 300px;
    height: 50px;
    /* text-align: center; */
    background-color: rgb(243, 170, 33);
    
    display: flex;
    transition: background-color 0.3s linear;
}

.a_btn {
    font-size: 20px;
    font-family: sans-serif;
    /* margin: 10px auto; */
    /* margin-top: 10px; */
    /* padding-top: 15px ; */
    color: aqua;
    margin: auto;
    text-decoration: none;
    
}

.btn:hover {
    background-color: rgb(222, 233, 64);
}

/* Добро пожаловать в Наш ресторан */

.header-down {

}

.header-down {
    
    position: relative;
}

.header-title {
    color: rgb(240, 136, 17);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    font-family: 'Tinos', serif;
    position: absolute;
    left: 0;
    margin-top: 400px;
}

